/* color palette from <https://github.com/vuejs/theme> */
* {
  font-family: 'Microsoft JhengHei';
}
html,
body,
section,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #f5f4ef;
}

section {
  position: relative;
}
body {
  background-color: #cec8bc;
}
